@font-face {
    font-family: 'Tungsten';
    src: local('Tungsten Condensed Bold'), local('Tungsten-Condensed-Bold'),
        url('TungstenCondensed-Bold.woff2') format('woff2'),
        url('TungstenCondensed-Bold.woff') format('woff'),
        url('TungstenCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }